.form
	&__inner
		text-align left
		background-color #FFF
		padding 30px 30px 60px


	&__row
		margin-bottom 10px

	&__heading
		margin-bottom 27px

	&__link
		display inline-block
		vertical-align top
		color #999
		&--right
			margin-top 12px
			float right
		&:hover
			text-decoration none

	&__text
		font-family openSans
		font-size 13px
		line-height 1.5
		color #666

	&__foot
		padding-top 15px
		text-align center
		&__link
			display inline-block
			vertical-align top
			margin-top 15px


