.help
	display inline-block
	vertical-align top
	width 33.33%
	padding-right 15px
	font-size 16px
	&__heading
		font-size 18px
		display inline-block
		vertical-align top
	&__link
		display inline-block
		vertical-align top
		margin-left 20px

	&__list
		&-item
			padding-y 12px
			& + &
				border-top 1px solid #CCC

			&__link
				color #333
				&:hover
					text-decoration none
					color #231F20
