include ../content/content
include ../container/container
include ../subtitle/subtitle
include ../heading/heading
include ../list/list
include ../col/col

include ../checkbox/checkbox
include ../progress/progress
include ../field/field
include ../button/button

include ../user-card/user-card

include ../check-section/check-section

mixin index()
	+b.index
		+content()

			+checkbox({
							name : 'check',
							id : 'check',
							value : 'check'
							})
				| check

			+progress()
			-var users = getData('user')
			each user in users
				+user-card(user)

			+check-section()
			+check-section-small()


			+input({
				type : 'search',
				id : 'search',
				placeholder : 'Поиск по базе данных'
			})

			+input({
				type : 'password',
				id : 'password',
				placeholder : 'Пароль'
			})

			+input({
				type : 'password',
				caption : 'good',
				id : 'password-good',
				placeholder : 'Хороший пароль'
			})

			+input({
				type : 'password',
				id : 'password-bad',
				caption : 'bad',
				placeholder : 'Плохой пароль'
			})


			+input({
				type : 'text',
				caption : 'tooltip',
				id : 'input-tooltip',
				placeholder : 'input with tooltip'
			})

			+input({
				type : 'text',
				disabled : 'true',
				id : 'input-locked',
				placeholder : 'disabled input'
			})

			+input({
				type : 'text',
				id : 'input-mistake',
				caption : 'tooltip',
				invalid : true,
				placeholder : 'Заполненное поле с ошибкой'
			})

			+buttonWithMenu()
