openSans = 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
robotoCond = 'Roboto Condensed', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
roboto = 'robotomedium', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif

whitney = Whitney, 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif

@font-face
	font-family 'Whitney'
	src local('Whitney Book'),
		local('Whitney-Book'),
		url('../fonts/Whitney-Book_gdi.woff2') format('woff2'),
		url('../fonts/Whitney-Book_gdi.woff') format('woff')
	font-weight 400
	font-style normal

@font-face
	font-family 'Whitney'
	src local('Whitney Light'),
		local('Whitney-Light'),
		url('../fonts/Whitney-Light_gdi.woff2') format('woff2'),
		url('../fonts/Whitney-Light_gdi.woff') format('woff')
	font-weight 300
	font-style normal

@font-face
	font-family 'Whitney'
	src local('Whitney Semibold'),
		local('Whitney-Semibold'),
		url('../fonts/Whitney-Semibold_gdi.woff2') format('woff2'),
		url('../fonts/Whitney-Semibold_gdi.woff') format('woff')
	font-weight 600
	font-style normal

@font-feature-values Whitney
	@styleset ss19

// Whitney-Black_gdi.woff
// Whitney-Black_gdi.woff2
// Whitney-BlackItalic_gdi.woff
// Whitney-BlackItalic_gdi.woff2
// Whitney-Bold_gdi.woff
// Whitney-Bold_gdi.woff2
// Whitney-BoldItalic_gdi.woff
// Whitney-BoldItalic_gdi.woff2
// Whitney-BookItalic_gdi.woff
// Whitney-BookItalic_gdi.woff2
// Whitney-LightItalic_gdi.woff
// Whitney-LightItalic_gdi.woff2
// Whitney-Medium_gdi.woff
// Whitney-Medium_gdi.woff2
// Whitney-MediumItalic_gdi.woff
// Whitney-MediumItalic_gdi.woff2
// Whitney-SemiboldItalic_gdi.woff
// Whitney-SemiboldItalic_gdi.woff2
