include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../logo/logo
include ../box/box
include ../footer/footer
include ../scripts/scripts


doctype html
html(lang='ru')
	include ../head/head

	+page
		+box
			+logo.logo--empty
			block content

		+scripts(['app.min.js'])
