include /blocks/center/center
include /blocks/restore/restore

extends /blocks/layout-empty/layout-empty

block head
	- var pageTitle = 'CSSSR Project Template';

block content
	+center()
		+restore()
