include ../nav/nav
include ../logo/logo
include ../messages/messages

mixin header()
	+b.header&attributes(attributes)
		+logo().header__logo
		+nav({
					name:'header',
					type: 'tabs',
					subtype: 'top',
					items:getData('header-nav')
					})
		+e.user-menu
			+messages.header__messages

