.center-wrap
	overflow hidden
	overflow-y auto
	-webkit-overflow-scrolling touch

	padding-top 30px
	padding-bottom 50px

	transition all 0.3s
	text-align center

	backface-visibility hidden
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	&:before
		display inline-block

		height 100%

		content ''
		vertical-align middle

.center
	display inline-block
	// TODO grid?
	max-width 380px
	width 100%
	vertical-align middle
	padding 0 0 60px
